
@font-face {
    font-family: "GT Pressura Mono";
    src: url("font/GT-Pressura-Mono-Regular.woff2") format("woff2");
}

body {
    font-family: "GT Pressura Mono", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.body {
    background-color: #D45456;
}

.wrapper{
    background-color: #D45456;
    width: 1300px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.retro-link a{
    text-transform: uppercase;
    text-decoration: none;
    color: #e9e3d7;
    font-weight: 700;
    font-size: 30px;
}

.nav ul{
    margin: 0;
    padding: 10px 0;
    float: right;
}

.nav ul li{
    list-style-type: none;
    display: inline-block; 
}

.nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #F5F2ED;
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px;
}

.nav ul li a:hover{
    text-decoration: underline;
}

.banner img {
    width: 40%;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1; 
    margin-top: 450px;
}

.introductory img {
    width: 100%;
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.body-main {
    background-color: #E9E4D9;
    border-top: 1px solid #3A3A3A;
}

.wrapper-main {
    min-height: 500px;
    background-color: #E9E4D9;
    width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.sidebar {
    width: 190px;
    float: left;
    border: 1px solid #3A3A3A;
    border-radius: 5px;
    min-height: 50px;
    margin: 10px 10px 10px 0px;
    background-color: #E9E4D9;
}

.sidebar h1 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    color: #E9E4D9;
    background-color: #D45456;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    margin: 0;
    text-align: center;
   
}

.sidebar ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    font-weight: 700;
    color: #3A3A3A;
}

.sidebar ul li a:hover {
    color: #E9E4D9;
    background-color: #3A3A3A;
}

.overview {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    text-align: justify;
}

.overview, .posters {
    margin-bottom: 120px;
}

.overview h2 {
    color: #3A3A3A;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.overview p{
    font-size: 18px;
    line-height: 1.5;
}

.posters h2 {
    color: #F5F2ED;
    font-size: 48px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(212, 84, 86, 0.75); 
}

.poster-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.poster-container {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.poster {
    border: 1px solid #3A3A3A;
}

.poster img {
    display: block;
    width: 100%;
    height: auto;
}

.caption {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #3A3A3A;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin: 10px auto;
    width: 30%;
    text-decoration: none; 
    color: #3A3A3A;
}

.caption:hover {
    background-color: #D45456;
    border: 1px solid #D45456;
    color: #E9E4D9;
}

.resource-banner img {
    border: 1px solid#3A3A3A; 
    border-radius: 5px;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.resource-banner {
    position: relative;
    margin-bottom: 85px;
}

.resource-banner a {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    top: 475px;
    right: 100px;
    color: #333;
    text-decoration: none;
    border: 1px solid #3A3A3A;
    border-radius: 5px;
    padding: 5px 10px;
}

.resource-banner a:hover {
    background-color: #D45456; 
    border: 1px solid #D45456;
    color: #E9E4D9;
}

/* About */

.body-about {
    background-color: #E9E4D9;
}

.wrapper-about{
    background-color: #E9E4D9;
    width: 1300px;
    margin: 0 auto;
    padding: 20px;
    min-height: 1800px;
}

.header-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.retro-link-about a{
    text-transform: uppercase;
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 700;
    font-size: 30px;
}

.nav-about ul{
    margin: 0;
    padding: 10px 0;
    float: right;
}

.nav-about ul li{
    list-style-type: none;
    display: inline-block; 
}

.nav-about ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px;
}

.nav-about ul li a:hover{
    text-decoration: underline;
}

.nav-about ul li a.active {
	color: #D45456;
}

.about img {
    width: 60%;
    position: relative;
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 250px;
}

.about-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.about-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #3A3A3A;
    max-width: 250px;
    margin-bottom: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.card-radio {
    display: none;
}

.card-radio:checked + .about-card {
    border-bottom: 5px solid #D45456;
}

.about-card-image {
    width: 100%;
    overflow: hidden;
}

.about-card-image img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #3A3A3A;
}

.about-card-text {
    text-align: left;
    background-color: #F5F2ED;
    padding: 5px 20px 5px 20px;
}

.team_text-style-medium {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #3A3A3A;
}

.caption-cards {
    margin-top: 5px;
}

.read-more-cards {
    font-weight: 700;
    color: #D45456;
}

.card-content {
    position: absolute;
    top: 100%;
    padding: 40px;
    margin: 0 auto;
    max-width: 800px;
    text-align: justify;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

.card-radio:checked + .about-card + .card-content {
    opacity: 1;
    visibility: visible;
}

.card-content p{
    font-size: 18px;
    line-height: 1.5;
}

/* About */

.footer {
    background-color: #F5F2ED;
    border-top: 1px solid #3A3A3A;
}

.wrapper-footer {
    clear: both;
    background-color: #F5F2ED;
    width: 1300px;
    margin: 0 auto;
    padding: 40px;
}

.footer-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 700;
}

.footer-section h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
}

.footer-section ul {
    list-style: none;
    padding: 5px 0;
    font-size: 16px;
}

.footer-section ul li {
    margin-bottom: 10px;
    padding: 3px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #3B3B3B;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section ul li img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.footer-title h2 {
    font-size: 30px;
    margin: 10px auto;
    color: #3B3B3B;
    text-transform: uppercase;
}

.footer-join h4 {
    font-family: Georgia, sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    color: #3B3B3B;
    margin: 10px auto;
    margin-bottom: 10px;
    text-align: left;
}

.login-signup a {
    font-size: 18px;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 5px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 35px;
    text-align: center;
}

.login-signup a.login {
    background-color: #D45456;
    color: #F5F2ED;
    border: 1px solid transparent;
    width: 35%;
}

.login-signup a.signup {
    border: 1px solid #3B3B3B;
    background-color: transparent;
    color: #3B3B3B;
    width: 25%;
}

.login-signup a:hover {
    color: #F5F2ED;
}

.login-signup a.login:hover {
    background-color: transparent;
    border-color: #3B3B3B;
    color: #3B3B3B;
}

.login-signup a.signup:hover {
    background-color: #D45456;
    border-color: transparent;
}

.footer-disclaimer {
    border-top: 1px solid #3B3B3B;
    margin-top: 50px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}

.footer-disclaimer p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
