
@font-face {
    font-family: "GT Pressura Mono Regular";
    src: url("fonts/GT-Pressura-Mono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "GT Pressura Mono Bold";
    src: url("fonts/GT-Pressura-Mono-Bold.woff2") format("woff2");
}

body {
    font-family: "GT Pressura Mono Regular", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.page-body {
    background-color: #D45456;
}

.page-wrapper{
    background-color: #D45456;
    width: 1300px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.brand-link a{
    font-family: "GT Pressura Mono Bold", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #e9e3d7;
    font-size: 30px;
}

.nav ul{
    margin: 0;
    padding: 10px 0;
    float: right;
}

.nav ul li{
    list-style-type: none;
    display: inline-block; 
}

.nav ul li a{
    font-family: "GT Pressura Mono Bold", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #F5F2ED;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px;
}

.nav ul li a:hover{
    text-decoration: underline;
}

.banner img {
    width: 40%;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1; 
    margin-top: 450px;
}

.intro-section img {
    width: 100%;
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.main-content {
    background-color: #E9E4D9;
    border-top: 1px solid #3A3A3A;
}

.content-wrapper {
    min-height: 500px;
    background-color: #E9E4D9;
    width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.sidebar {
    width: 190px;
    float: left;
    border: 1px solid #3A3A3A;
    border-radius: 5px;
    min-height: 50px;
    margin: 10px 10px 10px 0px;
}

.sidebar h1 {
    font-family: "GT Pressura Mono Bold", sans-serif;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    color: #E9E4D9;
    background-color: #D45456;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    margin: 0;
    text-align: center;
}

.sidebar ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #3A3A3A;
}

.sidebar ul li a:hover {
    color: #E9E4D9;
    background-color: #3A3A3A;
}

.overview-section {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

.overview-section, .poster-section {
    margin-bottom: 120px;
}

.overview-section h2 {
    color: #3A3A3A;
    font-size: 48px;
    font-family: "GT Pressura Mono Bold", sans-serif;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.overview-section p{
    color: #3B3B3B;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

.poster-section h2 {
    font-family: "GT Pressura Mono Bold", sans-serif;
    color: #F5F2ED;
    font-size: 48px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(212, 84, 86, 0.75); 
}

.poster-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.poster-container {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.poster {
    border: 1px solid #3A3A3A;
}

.poster img {
    display: block;
    width: 100%;
    height: auto;
}

.see-more-link {
    font-family: "GT Pressura Mono Bold", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #3A3A3A;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin: 10px auto;
    width: 30%;
    text-decoration: none; 
    color: #3A3A3A;
}

.see-more-link:hover {
    background-color: #D45456;
    border: 1px solid #D45456;
    color: #E9E4D9;
}

.resource-section img {
    border: 1px solid#3A3A3A; 
    border-radius: 5px;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.resource-section {
    position: relative;
    margin-bottom: 85px;
}

.resource-section a {
    font-family: "GT Pressura Mono Bold", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    top: 475px;
    right: 100px;
    color: #333;
    text-decoration: none;
    border: 1px solid #3A3A3A;
    border-radius: 5px;
    padding: 5px 10px;
}

.resource-section a:hover {
    background-color: #D45456; 
    border: 1px solid #D45456;
    color: #E9E4D9;
}

/* About */

.about-body {
    background-color: #E9E4D9;
}

.about-wrapper{
    background-color: #E9E4D9;
    width: 1300px;
    margin: 0 auto;
    padding: 20px;
    min-height: 1800px;
}

.about-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.about-brand-link a{
    font-family: "GT Pressura Mono Bold", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #3A3A3A;
    font-size: 30px;
}

.about-nav ul{
    margin: 0;
    padding: 10px 0;
    float: right;
}

.about-nav ul li{
    list-style-type: none;
    display: inline-block; 
}

.about-nav ul li a{
    font-family: "GT Pressura Mono Bold", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #3A3A3A;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px;
}

.about-nav ul li a:hover{
    text-decoration: underline;
}

.about-nav ul li a.active {
	color: #D45456;
}

.about-section img {
    width: 60%;
    position: relative;
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 250px;
}

.about-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.about-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #3A3A3A;
    max-width: 250px;
    margin-bottom: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.card-radio {
    display: none;
}

.card-radio:checked + .about-card {
    border-bottom: 5px solid #D45456;
}

.about-card-image {
    width: 100%;
    overflow: hidden;
}

.about-card-image img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #3A3A3A;
}

.about-card-text {
    background-color: #F5F2ED;
    padding: 5px 20px 5px 20px;
}

.card-title {
    font-family: "GT Pressura Mono Bold", sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #3A3A3A;
}

.read-more-caption {
    margin-top: 5px;
}

.read-more-text {
    font-family: "GT Pressura Mono Bold", sans-serif;
    color: #D45456;
}

.card-content {
    position: absolute;
    top: 100%;
    padding: 40px;
    margin: 0 auto;
    max-width: 800px;
    text-align: justify;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

.card-radio:checked + .about-card + .card-content {
    opacity: 1;
    visibility: visible;
}

.card-content p{
    font-size: 18px;
    line-height: 1.5;
}

/* About */

.page-footer {
    background-color: #F5F2ED;
    border-top: 1px solid #3A3A3A;
}

.footer-wrapper {
    clear: both;
    background-color: #F5F2ED;
    width: 1300px;
    margin: 0 auto;
    padding: 40px;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
}

.footer-links h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "GT Pressura Mono Bold", sans-serif;
    margin-bottom: 10px;
    color: #3B3B3B;
}

.footer-links ul {
    list-style: none;
    padding: 5px 0;
    font-size: 16px;
}

.footer-links ul li {
    margin-bottom: 10px;
    padding: 3px 0;
}

.footer-links ul li a {
    text-decoration: none;
    color: #3B3B3B;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-links ul li img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.footer-title {
    margin-top: 10px;
}

.footer-title nav a {
    font-family: "GT Pressura Mono Bold", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #3B3B3B;
    font-size: 30px;
}

.footer-join h4 {
    font-family: Georgia, sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    color: #3B3B3B;
    margin: 10px auto;
    margin-bottom: 10px;
    text-align: left;
    margin-right: 75px;
}

.login-signup a {
    font-family: "GT Pressura Mono Bold", sans-serif;
    font-size: 18px;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 5px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 35px;
    text-align: center;
}

.login-signup a.login-link {
    background-color: #D45456;
    color: #F5F2ED;
    border: 1px solid transparent;
    width: 35%;
}

.login-signup a.signup-link {
    border: 1px solid #3B3B3B;
    background-color: transparent;
    color: #3B3B3B;
    width: 25%;
}

.login-signup a:hover {
    color: #F5F2ED;
}

.login-signup a.login-link:hover {
    background-color: transparent;
    border-color: #3B3B3B;
    color: #3B3B3B;
}

.login-signup a.signup-link:hover {
    background-color: #D45456;
    border-color: transparent;
}

.footer-disclaimer {
    border-top: 1px solid #3B3B3B;
    margin-top: 50px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}

.footer-disclaimer p {
    margin: 0;
    font-size: 14px;
}
